.logo {
    padding-top: 1em;
    padding-right: 5em;
}
.brand {
    font-family: 'Ballet', cursive;
    font-size: 3em;
}
.brand-text {
    color: white;
    font-size: 0.75em;
    text-align: center;
    position: relative;
    top: -2em;
    right: -2.9em;