body {
  background-color: #212529; }

.logo {
  padding-top: 1em;
  padding-right: 5em; }
  .logo .brand {
    font-family: 'Ballet', cursive;
    font-size: 3em;
    transition: font-size 2s; }
  .logo .brand-text {
    color: white;
    font-size: 0.75em;
    text-align: center;
    position: relative;
    top: -2em;
    right: -2.9em;
    transition: font-size 2s; }
  .logo:hover .brand {
    font-size: calc(3em *2); }
  .logo:hover .brand-text {
    font-size: calc(3em *0.50); }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.rs {
  padding-right: 3em; }
